* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	overflow-x: hidden;
}

/* navbar */
nav {
	display: flex;
	justify-content: space-around;
	height: 50px;
	align-items: center;
	background: #fff;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 20px;
	border-bottom: 1px solid #ddd;
}

nav .logo h5 {
	letter-spacing: 2px;
	color: #333;
	position: relative;
	z-index: -1;
	font-family: 'Do Hyeon', sans-serif;
}

nav ul {
	list-style: none;
	width: 200px;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	align-items: center;
	z-index: -1;
	background-color: rgb(1, 170, 0);
	transform: translateX(100%);
	transition: all 1s;
	text-align: center;
	padding-top: 60px;
}

nav ul li a {
	color: rgb(234, 192, 255);
	text-decoration: none;
	font-size: 0.8em;
	cursor: pointer;
}

nav ul li a:hover {
	color: rgb(250, 248, 255);
}

nav ul.slide {
	transform: translateX(0);
}


/* humberger menu */
.menu-toggle {
	display: flex;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input {
	position: absolute;
	width: 40px;
	cursor: pointer;
	height: 28px;
	left: -6px;
	top: -4px;
	opacity: 0;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 20px;
	height: 3px;
	background: rgb(0, 200, 2);
	border-radius: 3px;
	transition: all 0.3s;
}


/* humberger menu animation */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
	background-color: #fff;
	transform: rotate(45deg) translate(4px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
	opacity: 0;
	transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
	background-color: #fff;
	transform: rotate(-45deg) translate(2px, 1px);
}

.menu-toggle input:checked ~ .rounded-circle {
	display: none;
}




/* responsiv breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
}


/* ukuran mobile */
@media screen and (max-width: 576px){
	.menu-toggle {
		display: flex;
	}

	nav ul {
	}
}